@import url('https://fonts.googleapis.com/css?family=Poiret+One');


body {
    background-color: #BAE8E5;
    font-family: 'Poiret One';
    font-family: 20px;
}

h1 {
    color: black;
    text-align: center;
    font-size: 40px;
}

h2 {

	color: black;
    text-align: center;
    font-size: 25px;
}

p {
    font-family: 'Poiret One';
    font-size: 20px;
    text-align: center;

}



ul {
	list-style-type: none;
	margin-left: 450px;
	margin-bottom: 10px;
	postion: relative;
}
li {
	display: inline-block;
	float: left;
	height: 20px;
	width:60px
	padding-left:40px;
	padding-right:40px;
	padding-top:15px;
	padding-bottom:15px;
}
a {
	display: block;
	width: 340px;
	text-decoration: none;
	font-size: 20px;
	text-align: center;

}
a:hover{
	color:#519332;

}

button {
	background-color: #F43530;
	color: white;
	font-size: 20px;
	font-family: 'Poiret One';
	height: 80px;
	width: 140px;
	float: center;
	border-radius: 10px;
}
#navbar{
	position:absolute;
	float:top;
	border-radius: 15px;
	width: 340px;
	height: 70px;
	background-color:#ABDC93;

}
.detech{
	float: center;
	padding: 15px;
	height: 80px;
	display: inline;
}
