body {
    background-color: #BAE8E5;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: Montserrat;
    font-size: 20px;
}



ul {
	list-style-type: none;
	margin: auto;
	postion: relative;
}
li {
	float: left;
	height: 20px;
	width:60px
	padding-left:40px;
	padding-right:40px;
	padding-top:15px;
	padding-bottom:15px;
}
a {
	display: block;
	width: 100px;
	text-decoration: none;
	font-size: 32px;
}
a:hover{
	color:#519332;
}
#navbar{
	position:fixed;<!--this makes the navigation bar accessible to the user so they don't have to scroll back to the top of the page if they want to click a link to a different page-->
	float:top;
	border: 1px solid #7C2A6A;
	border-radius: 15px;
	width: 100%;
	height: 80px;
	background-color:#ABDC93;
}
.class{
	border: 1px  solid black;
	padding: 15px;
	height: 80px;
	display: inline;
}